/** @format */
.App {
	display: flex;
	background-image: url('./images/1288107.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

/* ::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.281);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background: #555;
} */
